@model IEnumerable<prj2.Models.thanh_toan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.phuong_thuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trang_thai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_tien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_thanh_toan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.don_hang.don_hang_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.phuong_thuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trang_thai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_tien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_thanh_toan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.don_hang.don_hang_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.thanh_toan_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.thanh_toan_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.thanh_toan_id })
        </td>
    </tr>
}

</table>
