@model prj2.Models.san_pham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<meta charset="UTF-8">
<div>
    <h4>san_pham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_san_pham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_san_pham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mo_ta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mo_ta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.danh_muc_san_pham.ten_danh_muc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danh_muc_san_pham.ten_danh_muc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.san_pham_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
